.header{
  padding-block: 13px;
  background: #fff;


  &__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__action{
    display: flex;
    gap: 10px;
  }
}
